.navBar {
  width: 100%;
  height: auto;
  padding: 18px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 0.1);
}

.menu {
  display: flex;
  gap: 16px;
  align-items: center;
}

.inactive {
  text-decoration: none;
}

.active {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.loginButton {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  width: 55px;
  height: 30px;
}

.loginButton:hover {
  background-color: lightgray;
  cursor: pointer;
}
